[user]
    email = Tsukina7mochi@gmail.com
    name = Mooncake Sugar


[branch]
    sort = -committerdate

[color]
    ui = auto

[column]
    ui = auto

[commit]
    verbose = true

[core]
    editor = nvim
    excludesfile = ~/.gitignore
    ignorecase = false

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[fetch]
    all = true
    prune = true
    pruneTags = true

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[merge]
    conflictStyle = zdiff3

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    autoUpdate = true
    enabled = true

[tag]
    sort = -version:refname


[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true


[alias]
    st = status -sb
    cm = commit
    co = checkout
    sw = switch
    br = branch
    diffs = diff --staged
    forcepush = push --force-with-lease --force-if-includes
    lg = log --oneline -n 10
    llg = log --oneline --decorate
    dlg = log --decorate
    glg = log --oneline --graph --decorate
    deletemerged = !git branch --merged main | grep -v main | xargs git branch -d
